@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Exercise 3</h2>


<table>
    <th style="padding-right: 30px">Row Number</th>
    <th>Row Description</th>
    @{
    for (int i = 1; i <= 10; i++)
    {
        <tr>
            <td><a href="/exercise3/result?id=@i">@i</a></td>
            
            @{
                var rowDes = new List<string>
                    {
                        {"JustPlay"},
                        {"JustEat"},
                        {"JustSmile"},
                        {"JustTest"},
                        {"JustJoke"},
                        {"JustRun"},
                        {"JustHire"},
                        {"JustDesign"},
                        {"JustMock"},
                        {"JustDance"}
                    };
            }
            @{
                if (@i == (int) Session["SpecialRow"])
                {
                    <td>JustGiving</td>
                }
                else
                {
                    <td>@rowDes[@i - 1]</td>
                }
            }
        </tr>
    }
    }
</table>